# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#MPLABX files
/build/default/
/dist/default/
/build/PIC16F72/
/dist/PIC16F72/
/dist/PIC16F876A/
/build/PIC16F876A/
/build/PIC16F72_SDCC/
/dist/PIC16F72_SDCC/
/dist/PIC16F876A_SDCC/
/build/PIC16F876A_SDCC/
nbproject/private/

button_update_test
current_timestamp.h